header {
    width: 1052px;
    height: 105px;
    top: 92px;
    left: 24px;
    margin: 92px 24px 0 24px;
}
.header_logo {
    display: grid;
    justify-content: center;

}
.header_logo-image {
    width: 148px;
    left: 454px;
 }
    

 
