.header {
    width: 1052px;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 92px 24px 96px 24px;
}
.header__menu {
    margin-left: 26px;
}
.header__links-list {
    display: flex;
}
.header__links-list-item_no-bullit {
    list-style-type: none;
    margin-right: 31px;
}
.header__links-list-item {
    margin-right: 32px;
    list-style: circle;
}
.header__address {
    list-style: none;
    margin-right: 25px;
    font-size: 18px;
}
.header__link_active{
    text-decoration: none;
}
.header__logo {
    display: block;
    width: 148px;
    margin-right: 184px;
}
.cover {
    background: url(../images/cover.jpg);
    padding: 165px 50px 50px;
    color: #fff;
}
.cover__title {
    display: block;
    font-family: Raleway;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}
.aligned-text_center {
    display: block;
    text-align: center;
    letter-spacing: 0.4em;
}
.aligned-text_right {
    display: block;
    text-align: right;
}
 .letter-spacing-extended {
    letter-spacing: 0.6em;
 }
.letter-spacing-center {
    letter-spacing: 0.3em;
}   
.no-letter-spacing {
    letter-spacing: 0.4em;
}
 .cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Raleway;
    margin-top: 135px;
 }
 .cover__description-text {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
}
