.header {
    display: flex;
    align-items: center;
    max-width: 1052px;
    justify-content: space-between;
    margin: 92px 24px 96px 24px;

}
.header_logo-image {
    width: 124px;
    height: 94px;
}
.header_nav {
    margin-right: 32px;
}
.header_nav-list {
    display: flex;
    list-style-type: none;
}
.header_nav-item {
    margin-left: 32px;
    list-style: circle;
}
.header_nav-items {
    margin-left: 32px;
    list-style-type: none;
}
.cover {
    background-image: url(../images/cover.jpg);
    background-size: cover;
    padding: 165px 50px 50px;
    color: #fff;
}
.cover_title {
    width: 1100px;
    font-family: Raleway;
    text-transform: uppercase;
}
.title_span {
    display: block;
}
    
.left {
    font-family: Raleway;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 0.3em;
    text-align: left;

}
.center {
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0.3em;
    
}
.right {
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0.6em;
    text-align: right;
}
.address {
    list-style-type: none;
}
.cover_decription {
    display: flex;
    margin-top: 135px;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
}
.cover_decription-text {
    font-size: 22px;
    font-weight: 400;
    word-spacing: 20px;
}
.bet-button {
    padding: 12px 32px 11px 31px;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    }

    
    
    
    


   
 
    

 
